<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Velib Projet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-5">
    <!-- Inclure le fragment de navigation -->
	<div class="d-flex">
	    <!-- Barre de navigation -->
	    <div class="p-3" style="width: 18rem;">
	        <div th:insert="fragments/header :: headerContent"></div>
	    </div>

	    <!-- Contenu spécifique à la page -->
	    <div id="pageContent" class="flex-grow-1 p-3">
	        <p>Bienvenue sur la page des Départements !</p>
	    
		
			<div class="container">
			    <!-- Boutons des départements -->
			    <div class="mb-4">
			        <button type="button" class="btn" data-departement="92">92</button>
			        <button type="button" class="btn" data-departement="93">93</button>
			        <button type="button" class="btn" data-departement="94">94</button>
			        <button type="button" class="btn" data-departement="95">95</button>
			    </div>
				
				<!--Message par défaut-->
				<div id="message" style="text-align: center; font-style: italic; color: gray;">
				        Cliquez sur un département pour afficher les stations !
				    </div>

			    <!-- Cadre pour afficher les détails de la station sélectionnée -->
				<div id="cadre-detail-station" class="card p-3" style="margin: 0 auto; border: 1px solid #ddd; background-color: #f9f9f9; text-align: center; display: none; width: 100%;">
				    <button type="button" class="btn-close" aria-label="Close" style="position: absolute; top: 10px; right: 10px;" onclick="fermerCadre()"></button>
				    <h4 class="card-title">Détails de la Station</h4>
				    <div class="row">
				        <!-- Colonne de gauche -->
				        <div class="col-md-6 text-start">
				            <ul class="list-group list-group-flush">
				                <li id="station-code" class="list-group-item"><strong>Code Station:</strong> <span></span></li>
				                <li id="station-name" class="list-group-item"><strong>Nom de Station:</strong> <span></span></li>
				                <li id="station-city" class="list-group-item"><strong>Ville:</strong> <span></span></li>
				                <li id="station-commune" class="list-group-item"><strong>Commune:</strong> <span></span></li>
				                <li id="is-renting" class="list-group-item"><strong>CB :</strong> <span></span></li>
				            </ul>
				        </div>
				        <!-- Colonne de droite -->
				        <div class="col-md-6 text-start">
				            <ul class="list-group list-group-flush">
				                <li id="num-bikes-available" class="list-group-item"><strong>Vélos Disponibles:</strong> <span></span></li>
				                <li id="is-installed" class="list-group-item"><strong>Station Disponible:</strong> <span></span></li>
				                <li id="num-docks-available" class="list-group-item"><strong>Attaches Disponibles:</strong> <span></span></li>
				                <li id="is-returning" class="list-group-item"><strong>Retour Vélos:</strong> <span></span></li>
				            </ul>
				        </div>
				    </div>
				</div>


				

			    <!--Tableau principal 
					Liste des stations dans une liste déroulante-->
				
			    <div class="table-container" style="max-height: 500px; overflow-y: auto; border: 1px solid #ddd; padding: 10px;">
			        <table id="tableau-stations" class="table table-striped">
			            <thead>
			                <tr>
			                    <th>Code Station</th>
			                    <th>Nom de Station</th>
			                    <th>Ville</th>
			                    <th>Commune</th>
			                </tr>
			            </thead>
			            <tbody>
			                <!-- Les données seront insérées ici via JavaScript -->
			            </tbody>
			        </table>
			    </div>
			</div>
	</div>


    <script src="/js/dep.js"></script>
</body>
</html>
